@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.projects {

    &__intro {
        margin-top: 5rem;
        margin-inline: 2rem;
        display: flex;
        flex-direction: column;

        &__header {
            text-align: center;
            padding-bottom: 1rem;
            font-size: 1.9rem;
            font-weight: 500;
        }

        &__paragraph {
            text-align: center;
            font-size: 0.9rem;
            font-weight: 300;
            color: #8A898E;
            line-height: 1.5rem;
        }
    }

    &__swiper {
        overflow: hidden;
        position: relative;
        margin-top: 2rem;
        margin-inline: 2rem;
        border-radius: 10px;

        &__container {
            display: flex;
            transition: transform 0.3s ease;
            border-radius: 10px;
        }

        &__item {
            position: relative;
            flex: 0 0 100%; // Each image takes full width of the container
            max-width: 100%; // Ensure image doesn't overflow its container
            display: block; // Remove bottom margin from inline images
            border-radius: 10px;
        }

        &__name-container {
            margin-top: 2rem; 
        }

        &__project-name {
            font-size: 1.3rem;
        }
    }

    &__horizontal-line {
        border-top: 1px solid #3C3B47;
        position: relative;
        height: 1px;
        margin-block: 5rem; 
    }

    &__arrow-icon {
        position: absolute;
        height: 4rem;
        z-index: 10;
        top: 50%;
        transform: translate(-50%, -50%);
        margin-top: -3px;
        cursor: pointer;

        &:nth-of-type(1) {
            left: 65%;
        }

        &:nth-of-type(2) {
            left: 35%;
            transform: translate(-50%, -50%) scaleX(-1);
        }
    }
}