@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.projects {

    &__intro {
        margin-top: 5rem;
        margin-inline: 2rem;
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
            align-items: center;
            margin-inline: 3rem;
            margin-bottom: 1rem;
        }

        @include desktop {
            margin-inline: 7rem;
            margin-bottom: 0.1rem;
        }

        &__header {
            text-align: center;
            padding-bottom: 1rem;
            font-size: 1.75rem;
            font-weight: 500;

            @include tablet {
                text-align: left;
                font-size: 2.5rem;
                margin-right: auto;
                max-width: 17%;
                margin-left: 2rem;
            }

            @include desktop {
                font-size: 3.5rem;
                font-weight: 400;
            }
        }

        &__paragraph {
            text-align: center;
            font-size: 0.9rem;
            font-weight: 300;
            color: #8A898E;
            line-height: 1.5rem;
            margin-bottom: 2rem;

            @include tablet {
                border-left: 1px solid $color-border;
                width: 50%;
                padding-right: 5%;
                padding-left: 3rem;
                text-align: left;
            }

            @include desktop {
                padding-block: 1rem;
                padding-right: 19%;
            }
        }
    }

    &__container {
        border: none;
        border: 10px;
        padding: 0;

        @include tablet {
            border: 1px solid $color-border;
            border-radius: 49px 0 0 49px;
            padding: 2rem;
            padding-bottom: 3.5rem;
            margin-left: 3rem;
            margin-bottom: 3rem;
        }

        @include desktop {
            margin-left: 7rem;
        }

        @include desktop-cutoff {
            width: 100vw;
        }
    }



    // old swiper:

    &__swiper {
        overflow: hidden;
        position: relative;
        margin-top: 2rem;
        margin-inline: 2rem;
        border-radius: 10px;
        
        @include tablet {
            border: 1px solid $color-border;
            padding: 2rem;
            margin-left: 3rem;
            margin-right: 0;
            margin-top: 0;
            margin-bottom: 4rem;
            border-radius: 49px 0 0 49px;
            padding: 2rem 3rem;
        }

        @include desktop {
            margin-left: 7rem;
        }

        &__container {
            display: flex;
            transition: transform 0.3s ease;
            border-radius: 10px;
            gap: 2rem;
        }

        &__item {
            position: relative;
            flex: 0 0 100%; 
            width: 100%;
            max-width: 31.8125rem; 
            display: block; 
            border-radius: 10px;

            @include tablet {
                margin-right: 1.5rem;
                width: 70%;
                max-width: 30rem;
            }
        }

        &__name-container {
            margin-top: 2rem; 
        }

        &__project-name {
            font-size: 1.3rem;
        }
    }

    &__horizontal-line {
        border-top: 1px solid #3C3B47;
        position: relative;
        height: 1px;
        margin-bottom: 5rem; 
        margin-top: 4rem;
        margin-inline: -2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;

        @include tablet {
            display: none;
        }
    }

    &__arrow-icon {
        position: absolute;
        height: 4rem;
        z-index: 10;
        top: 50%;
        transform: translate(-50%, -50%);
        margin-top: -3px;
        cursor: pointer;

        &:nth-of-type(1) {
            left: 35%;
            transform: translate(-50%, -50%) scaleX(-1);
        }

        &:nth-of-type(2) {
            left: 65%;
        }

        &--tablet {
            display: none;

            @include tablet {
                display: block;
                height: 3.5rem;
                cursor: pointer;
            }

            &:nth-of-type(1) {
                transform: scaleX(-1);
            }

            &:nth-of-type(2) {
                transform: scaleX(1);
            }
        }
    }

    &__arrow-group  {
        display: none;

        @include tablet {
            position: absolute;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            left: 50%;
            margin-left: -3rem;
            transform: translateX(-50%);
            bottom: -5.1rem;
            width: auto;
            z-index: 500;
            gap: 3rem;
            z-index: 1000;
        }
    }
}