@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.projects {

    &__intro {
        margin-top: 5rem;
        margin-inline: 2rem;
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
            align-items: center;
            margin-inline: 3rem;
        }

        @include desktop {
            margin-inline: 7rem;
        }

        &__header {
            text-align: center;
            padding-bottom: 1rem;
            font-size: 1.75rem;
            font-weight: 500;

            @include tablet {
                text-align: left;
                font-size: 2.5rem;
                margin-right: auto;
                max-width: 17%;
            }

            @include desktop {
                font-size: 3.5rem;
                font-weight: 400;
            }
        }

        &__paragraph {
            text-align: center;
            font-size: 0.9rem;
            font-weight: 300;
            color: #8A898E;
            line-height: 1.5rem;

            @include tablet {
                border-left: 1px solid $color-border;
                width: 50%;
                padding-right: 5%;
                padding-left: 3rem;
                text-align: left;
            }

            @include desktop {
                padding-block: 1rem;
            }
        }
    }

    &__swiper {
        overflow: hidden;
        position: relative;
        margin-top: 2rem;
        margin-inline: 2rem;
        border-radius: 10px;
        
        @include tablet {
            border: 1px solid $color-border;
            padding: 2rem;
            margin-left: 3rem;
            margin-right: 0;
            margin-top: 0;
            border-radius: 49px 0 0 49px;
            padding: 2rem 3rem;
            
        }

        @include desktop {
            margin-left: 7rem;
        }

        &__container {
            display: flex;
            transition: transform 0.3s ease;
            border-radius: 10px;
        }

        &__item {
            position: relative;
            flex: 0 0 100%; 
            width: 100%;
            max-width: 31.8125rem; 
            margin-right: 2rem;
            display: block; 
            border-radius: 10px;

            @include tablet {
                margin-right: 1.5rem;
                width: 70%;
                max-width: 30rem;
            }
        }

        &__name-container {
            margin-top: 2rem; 

            // @include tablet {
            //     margin-top: 1.5rem;
            // }
        }

        &__project-name {
            font-size: 1.3rem;
        }
    }

    &__horizontal-line {
        border-top: 1px solid #3C3B47;
        position: relative;
        height: 1px;
        margin-block: 5rem; 
    }

    &__arrow-icon {
        position: absolute;
        height: 4rem;
        z-index: 10;
        top: 50%;
        transform: translate(-50%, -50%);
        margin-top: -3px;
        cursor: pointer;

        &:nth-of-type(1) {
            left: 59%;
        }

        &:nth-of-type(2) {
            left: 41%;
            transform: translate(-50%, -50%) scaleX(-1);
        }
    }
}