@use '../../styles/partials/global' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.header {
    
    &__horizontal-line {
        border-top: 1px solid $color-border;
        position: relative;
        height: 1px;
    }

    &__arrow-icon {
        height: 6rem;
        position: absolute;
        z-index: 10;
        top: 50%; // Center vertically
        left: 50%; // Center horizontally
        transform: translate(-50%, -50%);
    }
}

.hero {
    margin-inline: 2rem;
    // background-image: url('../../assets/images/hero-illustration.svg');
    // background-position: center;
    // background-size: cover;
    // background-repeat: no-repeat;

    &__article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 5.5rem;

        &__hi {
            font-size: 1.2rem;
            margin-bottom: 3rem;
        }

        &__position {
            font-size: 3rem;
            margin-bottom: 3rem;
        }

        &__coding-icon {
            height: 3rem;
            margin-bottom: -0.3rem;
        }

        &__ux-design {
            border: 0.6px solid $color-purple;
            padding-inline: 0.3rem;
            margin-left: -0.3rem;
            word-wrap:break-word;
        }

        &__about {
            width: 85%;
            margin-inline: auto;
            margin-bottom: 6.5rem;
            text-align: center;
            font-size: 0.9rem;
            font-weight: 300;
            color: $color-gray-text;
        }
    }
}