@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.navbar {
    display: flex;
    position: relative;
    margin-top: 2rem;
    align-items: center;

    @include tablet {
        margin-inline: 3rem;
    }

    @include desktop {
        margin-inline: 7rem;
    }

    &__logo {
        height: 3.25rem;
        margin-inline: auto;
        z-index: 10;

        @include tablet {
            margin-inline: 0;
            margin-right: 4rem;
            cursor: pointer;
        }

        @include desktop {
            margin-right: 5rem;
        }
    }

    &__options {
        display: none;

        @include tablet {
            display: contents;
        }

        &__group {
            display: flex;
            gap: 4.5vw;

            @include desktop {
                gap: 2.8rem;
            }
            
            &--item {
                background: transparent;
                border: none;    
                font-size: 0.9rem;
                font-weight: 500;
                cursor: pointer;
            }
        }

        &__contact {
            background-color: $color-gray-button;
            border: none;
            border-radius: 5px;
            font-size: 0.9rem;
            font-weight: 500;
            padding-inline: 1.51rem;
            height: 2.7rem;
            margin-left: auto;
            cursor: pointer;

            @include desktop {
                padding-inline: 2.1rem;
            }
        }
    }

    &__burger-menu {
        position: absolute;
        height: 1.4rem;
        right: 1rem;
        top: -0.3rem;
        z-index: 10;
        cursor: pointer;

        @include tablet {
            display: none;
        }
    }
}