@use './styles/partials/variables' as *;
@use './styles/partials/mixins' as *;

.App {

    @include desktop-cutoff {
        margin-inline: 9.5rem;
    }
}

body {
    max-width: 100%;
    overflow-x: hidden;
}